* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
}

html {
    width: 100%;
    min-height: 100vh;
    font-size: 100%;
}

body {
    font-family: montserrat, sans-serif;
    background-image: linear-gradient(to bottom right, #CC2E5D, #FF5858);
}

.page-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    color: #FFF;
    font-size: 20rem;
    font-weight: 900;
    opacity: 0;
    -webkit-animation: fadein 0.8s ease-out 1.5s forwards;
            animation: fadein 0.8s ease-out 1.5s forwards;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 100px;
    opacity: 0;
    -webkit-animation: slidedown 0.5s ease-out 0.5s forwards;
            animation: slidedown 0.5s ease-out 0.5s forwards;
}

.button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #FFF;
    color: #222;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    border-radius: 999px;
    font-size: 1.75rem;
    transition: box-shadow 0.2s ease-out, color 0.2s ease-out;
    -webkit-animation: slideup 0.5s ease-out 0.5s forwards;
            animation: slideup 0.5s ease-out 0.5s forwards;
    transform: translateY(200px);
    opacity: 0;
}

.button:hover {
    box-shadow: 6px 6px rgba(0,0,0, 0.3);
    color: #ff5858;

}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 0.2;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 0.2;
    }
}

@-webkit-keyframes slidedown {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slidedown {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes slideup {

    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes slideup {

    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}
